./.git/objects/43/2050e51be7f37464fa490296e2032ec05f8295
./.git/objects/43/tmp_obj_0gqF39
./.git/objects/b5/58994559b9c9d168b2aecb3b17750e3443eaab
./.git/objects/fe/3b2866976fcfe08c02d16e2c0600b49fc187ba
./green_taxi_data/base/16384/16392
./green_taxi_data/base/16384/16398
./green_taxi_datagit 
./terraform/terraform_basic/.terraform/providers/registry.terraform.io/hashicorp/google/4.51.0/windows_386/terraform-provider-google_v4.51.0_x5.exegit
./terraform/terraform_with_variables/.terraform/providers/registry.terraform.io/hashicorp/google/5.6.0/windows_386/terraform-provider-google_v5.6.0_x5.exegit